*.class
*.log

# IntelliJ IDEA specific
.idea

# Scala-IDE specific
.scala_dependencies
.worksheet

# sbt specific
.cache/
.history/
.lib/
target/
.sbtserver
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# npm specific
**/node_modules/*

# webpack specific
**/dist/*

logs
project/project
project/target
target
tmp
.history
.cache
dist
bin
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.target
